* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }
  
  /* -------------CONSTANTS------------- */
  @font-face {
      font-family: classico;
      src: url(./fonts/Classico.otf);
  }
  button {
    width: 18.38rem;
    height: 4rem;
    border-radius: 2.2rem;
    border: none;
  }
  
  button a{
     color: black;
     font-weight: 600; 
  }

  .provisoria {
    width: 18.75rem; /*300px*/
    height: 25rem; /*400px*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 3px solid black;
  }
  /* -------------VARIABLES------------- */
  :root {
    --marrom: #b18e72;
    --bege: #f0f0ec;
  }
  
  /* -------------HEADER------------- */
  header {
    background-image: url(./images/2.jpg);
    background-size: cover;
    background-position: center;
    gap: 3rem;
    text-align: center;
  }
  header button {
    background: white;
  }
  
  header img {
    height: 5rem;
    width: 6rem;
    margin-bottom: 4rem;
  }
  
  header h1 {
    color: white;
    font-weight: 600;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 2rem; 
  }
  header p {
    color: white;
    font-weight: 300;
  }
  
  /* ------DORES DO CLIENTE-------- */
  #doresDoCliente{
      text-align: center;
  }
  #doresDoCliente h4 {
    padding-top: 3rem;
    font-weight: 300;
    color: var(--marrom);
  }
  #doresDoCliente p {
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
  }
  #doresDoCliente .container {
    gap: 3rem;
  }
  #doresDoCliente button {
    background: var(--marrom);
    margin-bottom: 3rem;
  }
  #doresDoCliente button a {
    color: white;
  }
  .circle {
    height: 1.4rem;
    width: 1.4rem;
    background: var(--marrom);
    border-radius: 50%;
    display: inline-block;
  }
  
  /* ------MOCKUP-1-------- */
  #mockup-1 {
    background: var(--bege);
  }
  #mockup-1 h3,p{
      margin-top: 3rem;
  }
  #mockup-1 h3::after{
      content: '';
      display: block;
      height: 2px;
      width: 7rem;
      background: var(--marrom);
      margin: auto;
      margin-top: 3rem;
    }

#mockup-1 button{
    background: black;
    margin-top: 3rem;
}
#mockup-1 button a{
    color: white;
}

  /* ------METRICAS-------- */
  #metricas{
      background-image: url(./images/1.jpg);
      background-size: cover;
      text-align: center;
  }
  #metricas .container{
      line-height: 2rem;
  }
  #metricas{
      color: white;
      font-weight: 400;

  }
  #metricas button{
      margin-top: 5rem;
  }
  #metricas .container p span{
      font-size: 2rem;
  }
  #metricas span{
      font-weight: 600;
      letter-spacing: 3px;
  }
  
   /* ------MOCKUP-2-------- */
  #mockup-2 {
    background: white;
  }
  #mockup-2 h2,p{
      margin-top: 3rem;
  }
  #mockup-2 h2{
      color: var(--marrom);
      font-weight: 400;      
  }
  #mockup-2 h2::after{
      content: '';
      display: block;
      height: 2px;
      width: 7rem;
      background: var(--marrom);
      margin: auto;
      margin-top: 3rem;
    }

#mockup-2 button{
    background: var(--marrom);
    margin-top: 3rem;

}
#mockup-2 button a{
    color: white;
}

/* ------aboutUs------- */
#aboutUs {
    background-color: var(--bege);
    text-align: center;
}
#aboutUs .container{
    padding: 0rem 2rem;
}
#aboutUs .container > img{
    width: 16.5rem;
}
#aboutUs h2{
    margin-top: 3rem;
    font-family:classico;
}
.icons{
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.icons img{
    height: 24px;
    width: 24px;
}