header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 8.125rem;

  padding: 0 17.8rem;

  border-bottom: 1px solid #000000;
  .logo {
    height: 56px;
    width: 350px;
  }
  .buttonMenu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 2.375rem;
    width: 10.625rem;

    font-family: Montserrat;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

    color: rgba(0, 0, 0, 0.45);

    background: none;
    border: 1px solid #0000007d;
    p {
      margin-right: 1.375rem;
    }
  }
}
